{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Make Your Todos Clear !<br>And You Will Not Miss Your Task!</h1>
            <p>Life is fun. But life is also busy. Base on the excel schedule file you upload, <br>we can help you remember your tasks through emails.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
